.main-page {
    &__select {
        position: absolute;
        top: 2%;
        right: 2%;
        display: flex;
        align-items: center;
    }

    &__select-title {
        font-family: "Inter", sans-serif;
        font-size: 14px;
        margin-right: 10px;
    }

    &__link {
        display: block;
    }

    &__links {
        display: flex;
        flex-direction: column;
    }
}
