version: "3"

services:
    server-app:
        image: ghcr.io/fargo-praktikum/game:main
        depends_on:
            - postgres
        ports:
            - "5000:5000"
        env_file:
            - ./production.env
        environment:
            NODE_ENV=development
            PORT=5000
        restart:
            always
        networks:
            - awesome
        # Проброс файлов, откуда с хоста, куда в контейнер
      #volumes:
       # - ./shared:/var/www/shared
    postgres:
        image: postgres:12
        volumes:
            - ./postgresdata:/var/lib/postgresql/data
            # Если у вас есть схема БД, которую можно подгрузить на старте, — передайте её
            #- ./src/migrations/dbinit.sql:/docker-entrypoint-initdb.d/dbinit.sql
        restart: always
        env_file:
            - ./production.env
        networks:
            - awesome

networks:
    awesome:
        driver: bridge
