version: "3"

services:
    server-app:
        image: ghcr.io/fargo-praktikum/game:9-sprint-CI-CD
        build:
            context: .
        depends_on:
            - postgres
        ports:
            - "5000:5000"
        env_file:
            - ./prod.env
        restart:
            always
        networks:
            - awesome
        # Проброс файлов, откуда с хоста, куда в контейнер
      #volumes:
       # - ./shared:/var/www/shared
    postgres:
        image: postgres:12
        ports:
            - "5432:5432"
        volumes:
            - ./postgresdata:/var/lib/postgresql/data
            # Если у вас есть схема БД, которую можно подгрузить на старте, — передайте её
            #- ./src/migrations/dbinit.sql:/docker-entrypoint-initdb.d/dbinit.sql
        restart: always
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: newPassword
            POSTGRES_DB: fargo-cards
        networks:
            - awesome

networks:
    awesome:
        driver: bridge
