@import "../../styles/variables";

.button {
    border: 0;
    cursor: pointer;
    display: block;
    background: $main-blue;
    color: #fff;
    margin: auto;
    max-width: 280px;

    &:focus {
        outline: 0;
    }
}
