@import "src/styles/variables";

.profile__block {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.profile__wrapper {
    padding: 30px;
    background: #eee;
}

.profile {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    padding: 30px;
}

.profile__image {
    display: flex;
    margin: auto auto 70px;
    justify-content: center;

}

.profile__avatar {
    display: block;
    border-radius: 50%;
    width: 130px;
    height: 130px;
}

.profile__image .profile-svg {
    display: block;
    border-radius: 50%;
    width: 130px;
    height: 130px;
}

.profile__image .profile-svg-change {
    display: none;
}

.profile__image:hover .profile-svg,
.profile__image:active .profile-svg {
    display: none;
}

.profile__image:hover .profile-svg-change,
.profile__image:active .profile-svg-change {
    display: block;
}

.link {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    color: #3369f3;
    text-decoration: none;
}

.red {
    color: $main-red;
}

