@import "../forumVar";

.f-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    padding: 0 55px;
    //border-bottom: 1px solid $border;
}

.f-header__title {
    font-weight: 600;
    font-size: 24px;
}

.f-header__user-button {
    width: 40px;
    height: 40px;
    color: $white;
    font-size: 24px;
    border: 0;
    border-radius: 50%;
    background-color: $lightblue;
    cursor: pointer;
}
