.popupbox {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    z-index: 1000;
}

.popupbox[hidden] {
    display: none;
}

.popupbox-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1002;
    background: none repeat scroll 0 0 #000;
}

.popupbox-content {
    overflow: hidden;
}

.popupbox-wrapper {
    display: flex;
    flex-direction: column;
    z-index: 1003;
    position: relative;
}

.popupbox-titleBar {
    overflow: hidden;
    display: block;
    position: relative;
}

.popupbox-btn--close {
    z-index: 1004;
}

.popupbox[data-title="bottom"] .popupbox-content {
    order: 1;
}

.popupbox[data-title="bottom"] .popupbox-titleBar {
    order: 2;
}

/* ----- тема по умолчанию ----- */

.popupbox-wrapper {
    border-radius: 5px;
    overflow: hidden;
    /*max-width: 80%;*/
    min-width: 300px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
    background-color: #fff;
}

.popupbox-content {
    padding: 50px 80px;
}

.popupbox-content_withoutPadding {
    padding: 0;
}

.popupbox-btn--close {
    transition: all 0.2s;
    position: absolute;
    right: 26px;
    top: 26px;
    cursor: pointer;
}

.popupbox-btn--close:hover {
    filter: brightness(70%);
}

.popupbox.is-active {
    opacity: 1;
    pointer-events: auto;
}

.popupbox[data-title="bottom"] .popupbox-content {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.popupbox[data-title="bottom"] .popupbox-titleBar {
    box-shadow: none;
    border-top: 1px solid #ccc;
}
