@import "../../../styles/variables";

.leaderboard {
    margin: 50px 70px;
    width: 80%;

    &__header {
        font-size: 16px;
        color: $main-blue;
        margin: 20px 0;
        font-weight: bold;
    }
}


