/* здесь храним глобальные стили, если будут */
canvas {
    display: block;
}

.mainTheme {
    height: 100%;
    background-size: cover;
}

html {
    font-size: 14px;
    font-family: "Inter", sans-serif;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


