$color-main-primary: #1e1e1e;
$color-input-field-border: #3369f3;
$color-input-fill: #efefef;
$color-active-item: #e4edfd;
$color-select-item: #e6efff;
$message-primary: #303030;
$outgoing-background: #cdd9e8;
$incoming-background: #f5f6f7;
$shadow-rgb: 0, 0, 0;
$bubble-meta: rgba(0, 0, 0, 0.55);

$icon-ack: #4fc3f7;


$white: #fff;
$bg-white: #fbfbfb;
$border: #eaeaea;
$lightblue: #347eff;
$blue: #2f71e5;
$darkblue: #3369f3;
$dark-gray: #999;
$gray-locked: #dedede;
$gray: #efeeee;
$font-dark-second: rgba(0, 0, 0, 0.3);
