@import "src/components/Forum/forumVar";

.errorInput .textField {
    border-color: #f00;
}

.formControl.errorInput span {
    color: #f00;
}

.textField {
    width: 100%;
    border: 0;
    border-bottom: 1px solid $dark-gray;

    &:focus {
        outline: none;
    }
}

.errorContainer {
    height: 15px;

}
